h1{
    color: red;
    background-color:aqua;
    font-size: 37px;
    border-radius: 12px;

}
label{
    color: hotpink;
}
button{
    color:black;
    border-radius: 8px;
    background-color: blue;
}
p{
    color: green
}